@import "tailwindcss";

@font-face {
  font-family: "Outfit";
  src: url("/fonts/outfit-variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Dancing Script";
  src: url("/fonts/dancingscript-variable.ttf") format("truetype");
  font-weight: 400 700;
  font-display: swap;
}

:root {
  --background: #f6f6f6;
  --foreground: #171717;
  scroll-behavior: smooth;
}

@theme {
  --color-accent1: #ededed;
  --color-accent2: #807d7e;
  --font-dance: "Dancing Script", cursive;
  --font-sans-serif: "Outfit", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f6f6f6;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans-serif);
}

::-webkit-scrollbar {
  display: none;
}
